<div class="product-flex">
{{#each materials as |material| }}
<div class="product-item">
   <div class="card text-white bg-secondary" >
  <img src="{{material.image}}" class="card-header"/>
  <div class="card-body ">
    <p class="card-text">Colour: {{material.colour}} {{material.finish}}</p>
  </div>
    <div class="card-body ">
    <p class="card-text">Size: {{material.length}}mm x {{material.width}}mm x {{material.thickness}}mm</p>
  </div>
  <div class="card-body ">
    <p class="card-text">Price: ${{material.price}}</p>
  </div>
<div class="col-12 text-center">
        <button class="btn " id="viewMoreBtn" ><a class=" post-link" href="/api/materials/{{material.id}}"> View More</a></button>
      </div>
</div>
  <br>
</div>
{{/each}}
</div>
