{{!-- make product info page --}}
{{#each materials as |material| }}
<div>
   <div class="card text-white bg-secondary" >
  <img src="image/"class="card-header">{{material.image}}

  <h3 class="card-header">Material Specs</h3>
  <div class="card-body ">
    <p class="card-text">{{post.finish}}</p>
  </div>
  <div class="card-body ">
    <p class="card-text">{{post.colour}}</p>
  </div>
<div class="card-body ">
    <p class="card-text">{{post.product_code}}</p>
  </div>
  <div class="card-body ">
    <p class="card-text">{{post.length}}</p>
  </div>
  <div class="card-body ">
    <p class="card-text">{{post.width}}</p>
  </div>
  <div class="card-body ">
    <p class="card-text">{{post.thickness}}</p>
  </div>
</div>
  <div class="card-body ">
    <p class="card-text">{{post.price}}</p>
  </div>

  <div class="col-12 text-center">
        <button class="btn " id="purhaseBtn" ><a class=" post-link" href="/"> Purchase Material</a></button>
      </div>
  <br>
{{/each}}

{{!-- all relivent info --}}
